<div class="sectionbg">
	<div class="sectionbody">
		<div class="subsection">
			<input type="hidden" name="embed_autoexpire_presented" value="1"/>
			<input type="hidden" name="embed_autoexpire_old" value="<? VAR NoExpire ?>"/>
			<div class="checkbox">
				<input type="checkbox" name="embed_autoexpire_noexpire" id="opt_embed_autoexpire_noexpire" value="1"<? IF NoExpire ?> checked="checked"<? ENDIF ?>/>
				<label for="opt_embed_autoexpire_noexpire">No Expire</label>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
